[Unit]
Description=Watcher Service
After=network.target

[Service]
User=ngfw
Group=www-data
WorkingDirectory=/opt/narin/api/watcher
ExecStart=/opt/narin/.env/bin/python /opt/narin/api/watcher/run.py
Restart=on-failure
CPUQuota=15%

[Install]
WantedBy=multi-user.target
